<style>
  fau-bar-element {font-size: .875rem; color:#444; font-family:Roboto; font-weight:normal}
  fau-bar-element:hover {text-decoration:underline;}
</style>

<div id="faubar" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar style="background-color:#e9edf2">
    <section class="top-bar-section"  >

      <ul class="left" >
		<li><a href="https://fau.eu"  style="background-color:#e9edf2">
			<img
			  src="{{site.url}}{{site.baseurl}}/images/logos/FAU_logo_arrow_sprite-01.svg" style="height:31px;border-radius=0%"
			  onmouseover="this.src='{{site.url}}{{site.baseurl}}/images/logos/FAU_logo_arrow_sprite-02.svg'"
			  onmouseout="this.src='{{site.url}}{{site.baseurl}}/images/logos/FAU_logo_arrow_sprite-01.svg'"
			  alt="To FAU main page."
			>
		 </a>
		</li>
		<li ><a href="https://karte.fau.de/api/v1/iframe/marker/49.59799646658211,11.018187403678894/zoom/16#18/49.59734/11.01731"  style="background-color:#e9edf2;padding-left:0px">
			<fau-bar-element>Map</fau-bar-element>
		 </a>
		</li>
		<li ><a href="https://www.campo.fau.eu/"  style="background-color:#e9edf2;padding-left:0px">
			<fau-bar-element>Campo</fau-bar-element>
		 </a>
		</li>
		<li ><a href="https://www.studon.fau.de/"  style="background-color:#e9edf2;padding-left:0px">
			<fau-bar-element>StudOn</fau-bar-element>
		 </a>
		</li>
      </ul>

      <ul class="right">
		<li ><a href="https://gzn.nat.fau.eu"  style="background-color:#e9edf2">
			<img
			  src="{{site.url}}{{site.baseurl}}/images/logos/GeoZentrum_sprite-01.svg"
			  onmouseover="this.src='{{site.url}}{{site.baseurl}}/images/logos/GeoZentrum_sprite-02.svg'"
			  onmouseout="this.src='{{site.url}}{{site.baseurl}}/images/logos/GeoZentrum_sprite-01.svg'"
			  style="height:38px">
		 </a>
		</li>
      </ul>
    </section>
  </nav>
</div><!-- /#navigation -->

<div id="faupath" class="sticky">
  <nav class="top-bar" role="navigation" data-topbar style="background-color:#fdfdfd;height:38px">
    <section class="top-bar-section"  >

      <ul class="left" >
		<li><a href="https://fau.eu" style="padding-right:0px;background-color:#fdfdfd;line-height:1.8rem">
		<fau-bar-element>Friedrich-Alexander-Universität /</fau-bar-element>
		 </a>
		</li>
		<li><a href="https://nat.fau.eu" style="padding-right:0px;padding-left:5px;background-color:#fdfdfd;line-height:1.8rem">
		<fau-bar-element>Faculty of Science /</fau-bar-element>
		 </a>
		</li>
		<li><a href="https://geo.nat.fau.de" style="padding-right:0px;padding-left:5px;background-color:#fdfdfd;line-height:1.8rem">
		<fau-bar-element>Department of Geography and Geosciences /</fau-bar-element>
		 </a>
		</li>
		<li><a href="https://gzn.nat.fau.eu" style="padding-right:0px;padding-left:5px;background-color:#fdfdfd;line-height:1.8rem">
		<fau-bar-element>GeoZentrum Nordbayern</fau-bar-element>
		 </a>
		</li>
      </ul>

    </section>
  </nav>
</div><!-- /#navigation -->
