.veryhighlight {
	color:#0c778d;
	font-weight:600;
	font-style:italic;
}

.moreee{
	color:#ff0000 ;
	font-weight:700;
}

// svg g .over {
// 	fill-opacity: 0;
// 	stroke-opacity: 0;
// }
// svg g .over:hover {
// 	fill-opacity: 0.70;
// 	stroke-opacity: 1;
// 	transition:0.3s;

// }

// svg g .over:not(:hover) {
// 	transition:0.3s;

// }
