.veryhighlight {
	color:#0c778d;
	font-weight:600;
	font-style:italic;
}

.moreee{
	color:#ff0000 ;
	font-weight:700;
}


.sphere-para {
	// background-color: #4efd4521;
	border: 2px solid #4efd4511;
	font-style: italic;
	background-image: linear-gradient(60deg, #4efd4521, #4efd4501);
	margin-top:15px;

}

#blank-para {
	padding-top: 5rem;
	text-align: center;
	color: #999999;

}
html {
  scroll-behavior: smooth;
}
.instdiv{
	text-align:center;
}
.instlink:hover{
	border-bottom:0px solid;
	transition:none;
}


#homeimg:hover{
	translate:5px 0px;
	transition-duration: .25s;
	border-left:5px #7bb725 solid;
	box-shadow: 3px 3px 10px rgba(0,0,0,.22);
	transition-timing-function: ease-out, ease-out;
}
