---
layout: page
breadcrumb: true
header: no
print_title: true
---
{% assign pagename = page.name | replace: ".html", "" %}
{% assign person_wrap = site.data.people | where: 'short', pagename  %}
{% assign person = person_wrap[0]%}

{% for flag in site.data.flags%}
{% if flag.country == person.country %}
{% assign curflag = flag.flag %}
{% endif %}
{% endfor %}


{% assign position = person.position %}
{% if person.roles.student == "active" %}
{% assign position = "Master Student at FAU"%}
{% endif %}

<a href="{{person.contacts.official}}">
	<i>{{position}}</i>
</a> - <i>from {{person.country}} {{curflag}}</i>

<div class="row" style="margin-top:15px">

	<a href="{{person.contacts.official}}">
	<div class="large-6 columns">
	  {% if person.photo %}
	  <img src="{{site.url}}{{site.baseurl}}/{{person.photo}}" >
	  {% else %}
	  <img src="{{site.url}}{{site.baseurl}}/{{person.thumbnail}}" >
	  {% endif %}
	</div>
	</a>

	<div class="large-6 columns">
	{{person.statement}}

	<h4>Contacts</h4>
	<div>
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/email.png" width="20" height="20" >
		Email:
		{% assign variab = person.contacts.email %}
		{% assign var = variab | split: "@"%}
		<i>{{var[0]}}</i><img src="{{site.url}}{{site.baseurl}}/images/misc/at.png" height="20px" width="15px"><i>{{var[1]}}</i>
	</div>
	{% if person.contacts.official !="" %}
	<div>
	  <a href="{{person.contacts.official}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/institute.png" width="20" height="20" >
	  Institutional webpage
	  </a>
	</div>
	{% endif %}

	{% if person.contacts.orcid %}
	<div>
	  <a href="https://orcid.org/{{person.contacts.orcid}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/ORCID.png" width="18" height="18" >
	  ORCID: <i>{{person.contacts.orcid}}</i>
	  </a>
	</div>
	{% endif %}

	{% if person.contacts.scholar %}
	<div>
	  <a href="{{person.contacts.scholar}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/scholar.png" width="20" height="20" >
	  Google Scholar 
	  </a>
	</div>
	{% endif %}

	
	{% if person.contacts.researchgate %}
	<div>
	  <a href="https://www.researchgate.net/profile/{{person.contacts.researchgate}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/researchgate.png" width="20" height="20" >
	  ResearchGate
	  </a>
	</div>
	{% endif %}

	{% if person.contacts.twitter %}
	<div>
	  <a href="https://www.x.com/{{person.contacts.twitter}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/X_twitter.png" width="20" height="20" >
	  <i>{{ person.contacts.twitter | prepend: '@'}}</i>
	  </a>
	</div>
	{% endif %}


	{% if person.contacts.github %}
	<div>
	  <a href="https://www.github.com/{{person.contacts.github}}">
	  <img src="{{site.url}}{{site.baseurl}}/images/logos/github.png" width="20" height="20" >
	  GitHub: <i>{{ person.contacts.github}}</i>
	  </a>
	</div>
	{% endif %}
	</div>


</div>

<div class="row" style="margin-top:15px">
</div>





{% assign ordered = site.data.courses | sort: 'name' %}

<div class="row" style="margin-top:15px">
<!-- Pre-print everything -->
{% capture text %}
{% for course in ordered %}
{% if course.administrator contains person.short%}
<li>
<a href="{{site.url}}{{site.baseurl}}/program/courses/{{course.ref}}">{{course.name}}</a>
</li>
{% endif %}
{% endfor %}
{% endcapture %}


<!-- Print, if there is anything -->
{% assign nospace = text | strip %}
{% if nospace != "" %}
<h4>Courses administered </h4>
<ul>
{{text}}
</ul>
{% endif %}
</div>


{% if person.roles.instructor %}

<div class="row" >
  <h4>{{person.first}} teaches in </h4>

<!-- Make an array from taught courses -->
{% capture taught %}
{% for course in ordered %}
{% if course.instructors contains person.short %}
{{ course.ref }}
{% endif %}
{% endfor %}
{% endcapture %}
{% assign teach_nospace = taught | strip %}
{% assign teach = taught | split: " " %}

  
<!-- display relevant -->
{% for taught_course in teach %}
{% assign outer = forloop %}
{% for course in site.data.courses %}
{% assign taught = taught_course | lstrip%}
{% if course.ref == taught %}
<a href="{{site.url}}{{site.baseurl}}/program/courses/{{course.ref}}">{{course.name}}</a>
{% unless outer.last %}|{% endunless %}
{% endif %}
{% endfor %}
{% endfor %}

  
</div>

{% endif %}
